<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bookmarks
        link(rel="stylesheet", href="css/styles.css")
    body
        header.header           
            p#welcome.welcome
            button#btn-logout.btn--small Log out
        nav#nav-bar.nav-bar
            ul.nav-bar__ul
                li.nav-bar__item: a(href="./browser.html") Browser
                li.nav-bar__item: a(href="./bookmarks.html") Bookmarks
        main
            div#info-bookmarks.info-bookmarks
                p#total-bookmarks.info-bookmarks__paragraph--XL
                p#total-movies.info-bookmarks__paragraph
                p#total-series.info-bookmarks__paragraph
                p#total-episodes.info-bookmarks__paragraph
            #bookmarks.bookmarks
        script(src="js/logout.js")
        script(src="js/bookmarks.js")