<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Browser
        link(rel="stylesheet", href="css/styles.css")
    body
        header
            #user-info.user-info
            p#welcome
            button#btn-logout Log out
        nav#nav-bar.nav-bar
            ul.nav-bar__ul
                li.nav-bar__item: a(href="./browser.html") Browser
                li.nav-bar__item: a(href="./bookmarks.html") Bookmarks
        main
            div
                form#browser.form                
                    input#film.form__input(type="text" placeholder="Spiderman")
                    input(type="submit" value="Search") 
            #filmList.film-list         
            #modal.modal                    
        script(src="js/logout.js")
        script(src="js/browser.js")