@import "_colors.scss";

*,
*::before, 
*::after {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;   
}
body{
    margin:0
}

//Index
.index-body{
    background: url('../images/cine.jpg') no-repeat center center fixed;
    background-size: cover;
}
.header{    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 250px;  
    background-color: rgba($base, .8);
    border-radius: 8px;     
}
.form__input{
    width: 160px;
    height: 30px;    
    padding-left: 5px;
    margin: 5px;
    border: none;    
    background-color: $base-two;
    color: $base;
    outline: none;
    border-radius: 2px;  
    &::placeholder{
        color: $base;
    }  
}
.forn__submit{    
    margin-top: 15px;
    width: 160px;
    height: 30px;
    background-color: $contrast-one;
    color: $base;
    font-weight: bold;
    border-radius: 2px;  
}

//
.user-info{
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
} 
.nav-bar{    
    background-color: burlywood;
}
.nav-bar__ul{   
    display: flex;    
    list-style: none;
    margin: 0;
    padding: 0;    
}
.nav-bar__item{
    padding: 5px 10px;
    cursor: pointer;
}


/** Browser **/
.film-list{
    margin: 0 10px;
}
.film-list__item{
    display: grid;
    grid-template-columns: 100px auto 100px;
    background-color: aqua;
    margin-bottom: 5px;
}
.film-list__item--not-found{
    background-color: brown;
    text-align: center;
}
.film-list__item-type{     
    text-transform: capitalize;
}
.film-list__item-title{
    background-color: brown;
    cursor: pointer;
}

//Modal

.modal{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex; //Cambiar a flex
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);//Usar rgba para poder usar el opacity 1 en el hijo
    transform: scale(0);
    z-index: 100;

    &--show{
        transform: scale(1);
    }
}
.modal__item{
    width: 300px;
    height: 350px;
    background-color: white;
    opacity: 1;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative; //Para ajustar la X de cerrar
  
}
.modal__img-container,
.modal__info{ 
    width: 200px;
    height: 200px;
    text-align: center;
}
.modal__img{
    max-width: 100%;
    max-height: 100%;
}
.modal__close{
    position: absolute;
    font-size: 30px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}